* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
  /*responsividade em imagens*/
}

html {
  font-size: 62.5%;
  /* 1rem = 10px , 1.6rem = 16px */
}

body {
  font-family: 'Inter', sans-serif;
  /*fonte mais usada no site*/
}

button {
  background-color: transparent;
  cursor: pointer;
}