@media (max-width: 1200px) {

  /******SECTION-HERO******/
  .section-hero .container .text {
    max-width: 49%;
  }

  /******SECTION-CARDS******/
  /*MAIN AREA*/
  .section-cards .container .main-area .all-cards {
    width: 100%;
  }

  .section-cards .container .main-area .all-cards .card {
    width: 32%;
  }

  /*SECOND AREA*/
  .section-cards .container .second-area .all-imgs {
    gap: 2rem 2%;
  }

  .section-cards .container .second-area .all-imgs .image {
    width: 23.5%;
  }
}

@media (max-width: 991px) {

  /******HEADER******/
  header .container nav {
    display: none;
  }

  header .container .menu-mobile {
    display: block;
  }

  /******SECTION-HERO******/
  .section-hero .container {
    flex-direction: column;
  }

  .section-hero .container .text {
    max-width: 100%;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-hero .container .text h1 {
    text-align: center;
  }

  .section-hero .container .text p {
    text-align: center;
  }

  /******SECTION-CARDS******/
  /*MAIN AREA*/
  .section-cards .container .main-area .all-cards {
    flex-direction: column;
  }

  .section-cards .container .main-area .all-cards .card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 3rem 0;
  }

  .section-cards .container .main-area .all-cards .card:not(.card:last-child) {
    margin-bottom: 4rem;
  }

  .section-cards .container .main-area .all-cards .card .info {
    max-width: 100%;
    margin-top: 2rem;
  }

}

@media (max-width: 768px) {

  /******SECTION-CARDS******/
  /*SECOND AREA*/
  .section-cards .second-area .top {
    flex-direction: column;
    align-items: center;
  }

  .section-cards .second-area .top .title {
    margin-bottom: 2rem;
  }

  .section-cards .second-area .top .title h2, .section-cards .second-area .top .title p {
    text-align: center;
  }

}

@media (max-width: 600px) {

  /******SECTION-CARDS******/
  /*SECOND AREA*/
  .section-cards .container .second-area .all-imgs {
    gap: 0.5rem 2%;
  }

  .section-cards .container .second-area .all-imgs .image {
    width: 49%;
  }
}

@media (max-width: 480px) {

  html {
    font-size: 55%;
  }

  /******HEADER******/
  header .logo {
    max-width: 13rem;
    /*largura definida no container e não na img*/
  }

  /******SECTION-HERO******/
  .section-hero {
    padding: 4rem 0;
  }

  h1 {
    font-size: 4.2rem;
  }

  .section-hero .container .text p {
    margin-bottom: 3rem;
  }

  .section-hero .container .image {
    height: 30rem;
  }

  /******SECTION-CARDS******/
  .section-cards {
    padding: 4rem 0;
  }

  .section-cards .container .second-area {
    margin-top: 4rem;
  }

  /******SECTION-NEWSLETTER******/
  .section-newsletter {
    padding: 4rem 0;
  }
}