.section-hero {
  margin-top: 11.9rem;
  background-color: $purple;

  .container {
    @include flex(row, space-between, center);

    .text {
      width: 100%;
      max-width: 55rem;

      h1 {
        color: $white;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 120%;
        margin-bottom: 1.6rem;
      }

      p {
        max-width: 48.8rem;
        color: $white;
        font-size: 1.8rem;
        line-height: 150%;
        margin-bottom: 3.2rem;
      }

      button {
        @include style-btn(5.4rem, $yellow, #503387);
        margin-bottom: 4.6rem;
      }

      a {
        display: flex;
        align-items: center;

        span {
          color: $white;
          font-weight: 700;
          line-height: 1.9rem;
          margin-left: 1.6rem;
        }
      }
    }

    .image {
      position: relative;
      top: 3.4rem;
      width: 100%;
      max-width: 69.1rem;
    }
  }

  @include responsive(991px) {
    .container {
      @include flex(column, flex-start, center);

      .text {
        max-width: 100%;
        margin-bottom: 3rem;

        h1 {
          text-align: center;
        }

        p {
          max-width: 100%;
          text-align: center;
        }

        button {
          display: block;
          margin: 0 auto;
          margin-bottom: 4rem;
        }

        a {
          justify-content: center;
        }
      }
    }
  }

  @include responsive(480px) {
    margin-top: 8rem;
  }
}

.section-resources {
  padding-top: 14.9rem;
  padding-bottom: 9.9rem;

  .container {
    .top {
      @include flex(row, space-between, center);
      margin-bottom: 5.3rem;

      h2 {
        max-width: 54rem;
        color: $gray-01;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 130%;
      }

      p {
        color: $gray-02;
        font-weight: 500;
        line-height: 150%;
      }
    }

    .content {
      @include flex(row, space-between, flex-start);

      .card-featured {
        width: 100%;
        max-width: 28rem;
        height: 32rem;
        padding: 4.1rem 4.2rem 6.8rem 3.4rem;
        background: rgb(197, 190, 220, 0.1);
        border-radius: 1.2rem;

        .icon {
          @include flex(row, center, center);
          width: 100%;
          max-width: 6.4rem;
          height: 6.4rem;
          background: #fff;
          border-radius: 1.2rem;
          margin-bottom: 3rem;
        }
      }

      /*OTHER 3 CARDS*/
      ul {
        @include flex(row, space-between, flex-start);
        width: 100%;
        max-width: 90.4rem;
        border-bottom: 2px solid $purple;

        li {
          width: 100%;
          max-width: 28rem;
          height: 32rem;
          padding: 4.1rem 4.2rem 6.4rem 3.3rem;

          .icon {
            @include flex(row, center, center);
            width: 100%;
            max-width: 6.4rem;
            height: 6.4rem;
            background: rgb(197, 190, 220, 0.1);
            border-radius: 1.2rem;
            margin-bottom: 3rem;
          }
        }
      }

      .info {
        h3 {
          color: $purple;
          font-weight: 800;
          font-size: 1.8rem;
          line-height: 2.2rem;
          margin-bottom: 2rem;
        }

        p {
          color: $gray-02;
          font-weight: 400;
          line-height: 165%;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {

      .content {
        flex-direction: column;

        .card-featured {
          @include flex(column, center, center);
          max-width: 100%;
        }

        ul {
          max-width: 100%;
          flex-direction: column;

          li {
            @include flex(column, center, center);
            max-width: 100%;
          }
        }
      }

      .info {
        max-width: 100%;

        h3,
        p {
          text-align: center;
        }
      }


    }
  }

  @include responsive(600px) {
    padding-top: 10rem;
    padding-bottom: 5rem;

    .container {
      .top {
        flex-direction: column;

        h2 {
          text-align: center;
          margin-bottom: 2rem;
        }
      }
    }
  }
}