@mixin responsive ($screenWidth) {
  @media(max-width: $screenWidth) {
    @content;
  }
}

/*MIXIN FLEX*/
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*MIXIN STYLE BTN*/
@mixin style-btn($height, $bg, $colorText) {
  display: inline-block;
  height: $height;
  line-height: $height;
  /*centralizar texto do botão*/
  background-color: $bg;
  color: $colorText;

  border-radius: 0.6rem;
  padding: 0 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  transition: all 0.3s;

  &:hover {
    color: $bg;
    background-color: $colorText;
  }

}